<div class="main-content">
  <img src="https://instagram.fala4-2.fna.fbcdn.net/vp/293bbdb1a2dca077afe6dad7d8ce59a1/5D09A592/t51.2885-15/e35/51031611_1135084409995983_2872043058714891495_n.jpg?_nc_ht=instagram.fala4-2.fna.fbcdn.net" width="600">
  <p>
          Поможем привлечь инвестиции в ваш стартап за 3 месяца!<br>
          ⠀
          Astana Hub объявляет о старте приема заявок на 4-ый поток акселерационной программы.<br>
          ⠀
          🚀Акселератор – это интенсивная 3-х месячная программа развития стартапов.<br>
      <a href="https://www.instagram.com/p/BtvjfgbDpCD/?utm_source=ig_share_sheet&igshid=gyglwgzpmdyk">Подробнее</a><br>
      <a href="http://taplink.cc/astana_hub"><strong>Register For Accelerator</strong></a>
  </p>
</div>

<div id="teamright">
  <button class="teambtn">Create a Team</button>
  <button class ="teambtn">Join a Team</button>
</div>