
    <div class="hello">
        <p>We Are Please That Your Have Chosen Our Product</p>
        <div class="just" >
            <img src="../images/LogoSample_ByTailorBrands.jpg" alt="" id = "LogoImage">
            <p id="ortasininayagi">It Is Very Easy To Build. You Need To Press Just Some Button</p>        
        </div>
    </div>
    <div class="Ortasi">   
        <form action="index.html" method="GET">
            <div class="block" id="block">
                <p></p>
                <p>&nbsp</p>
                <p>First Of All, Let's Choose Our PC Block</p>
                <table>
                    <tr>
                        <td><img src="../images/block1.jpg" alt=""></td>
                        <td><img src="../images/block3.jpg" alt=""> </td>
                        <td><img src="../images/block2.jpg" alt=""></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="block" value="first"></td>
                        <td><input type="radio" name="block" value="second"></td>
                        <td><input type="radio" name="block" value="third"></td>                   
                    </tr>
                </table>
            </div> 
            <div class="Processor" id="Processor">
                <p>&nbsp</p>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPlease, Select Your Processor:</p>
                <table>
                        <tr>
                            <td><img src="../images/intel.jpg" alt="" class="i"></td>
                            <td><img src="../images/ryzen.jpg" alt="" class="i"> </td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="Processor" value="intel"></td>
                            <td><input type="radio" name="Processor" value="ryzen"></td>
                        </tr>
                    </table>
            </div>
            <div class="Hard" id="Hard">
                <p>&nbsp</p>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWhat About Hard Drive?</p>
                <table class="table">
                    <tr>
                        <th>  HDD</th>
                        <th>  SSD</th>
                    </tr>
                    <tr>
                        <td><input type="radio" name="hard" value="256">256GB</td>
                        <td><input type="radio" name="hard" value="64">64GB</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="hard" value="512">512GB</td>
                        <td><input type="radio" name="hard" value="128">128GB</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="hard" value="1">1TB</td>
                        <td><input type="radio" name="hard" value="256">256GB</td>
                    </tr>
                </table>
            </div>
            <div class="RAM" id="RAM">
                <p>&nbsp</p>
                <p>Now Let's Look For Some Type Of RAMs</p>
                <table>
                    <tr>
                        <td><img src="../images/8gb.jpg" alt="" class="a"></td>
                        <td><img src="../images/16gb.jpg" alt="" class="a"> </td>
                        <td><img src="../images/4gb.jpg" alt="" class="a"></td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>4gb</td>
                        <td>8gb</td>
                        <td>16gb</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="ram" value="first"></td>
                        <td><input type="radio" name="ram" value="second"></td>
                        <td><input type="radio" name="ram" value="third"></td>                   
                    </tr>
                </table>
            </div>
            <input type="button" value="BUILD">
        </form> 
    </div>