<div class="main-info">
<div>
  <div class="name">
      <h1>{{acc.name}}</h1>
  </div>

  <div class="shortInfo">
      <h2>{{acc.shortinfo}}</h2>
  </div>

  <h3 class="infow">General Info</h3>
  <div class="genInfo">
  
      <p>
          Date of Birth:
          <br>
          Education:
          <br>
          E-mail:
          <br>
          Phone:
      </p>
      <p>
          {{acc.birthday}}
          <br>
          {{acc.edu}}
          <br>
          {{acc.email}}
          <br>
          {{acc.phone}}
          </p>

  </div>
  <input type="button" class="btn" value="Download CV">
</div>


<div class="rightSide">
  <img src="../../images/ava1.jpg" alt="ava">
</div>
</div>