  
    <div class="bodyx">
        <div id="intro1" class="bodyx">Quadro is a PC builder platform that is designed for clients looking for personalized/customized personal computer.</div>
        <div id="intro2" class="bodyx">Sign Up</div>
        <div id="img2" class="bodyx" src="QUADRoimage.JPG"></div>
        <div id="intro3" class="bodyx">It's free and always will be.</div>
        <div id="form3" class="bodyx">
            <input placeholder="Firstname" type="text" id="namebox" name="name1" />
            <input placeholder="Lastname" type="text" id="namebox" /> 
            <input placeholder="Mobile number or Email" type="text" id="mailbox" /><br>
            <input placeholder="New password" type="password" id="mailbox"><br>
            <input type="date" id="namebox" /><br><br>
            <input type="radio" name="sex" value="male">Male
            <input type="radio" name="sex" value="female">Female <br>
            <h5> By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy. You may receive SMS Notifications from us and can opt out any time.</h5><br><br>
            <h6>Create a page for you for band or business.</h6> <br><br>
        </div> 
    </div>
    <a href="ConfigurePC.html"> <input type="submit" class="button2" value="Signup" />   </a>
    <div class="body1">
        <div id="conclu1" class="body1">English (US) &nbsp;  <a href="RusQuadroMainPage.html">Руский &nbsp;</a>      Қазақша &nbsp;  Deutsch &nbsp;  Shqip &nbsp;  Espanol &nbsp;  Portugues (Brazil) <br><br>
        Learn more... </div>
    </div>